/*前台通用样式*/
body,
label{
    font-size: 14px;
}
table {
    background-color: transparent;
    border-spacing: 0;
    border-collapse: collapse;
}
hr{
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #eee;
    border-color: #ececec;
}
p {
    margin: 0 0 10px;
}
.icon {
    width: 1em; height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}
.ant-form-item-label,
.has-success.has-feedback:after,
.has-warning.has-feedback:after,
.has-error.has-feedback:after,
.is-validating.has-feedback:after{
    line-height: 44px;
}

.ant-form-item,
.ant-checkbox-wrapper,
.ant-input,
.ant-modal-body{
    font-size: 14px;
}

.ant-btn-primary {
    color: #fff;
    background-color: #56509F;
    border-color: #56509F;
}
.ant-btn-primary > a:only-child {
    color: currentColor;
}
.ant-btn-primary > a:only-child:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: transparent;
}
.ant-btn-primary:hover,
.ant-btn-primary:focus {
    color: #fff;
    background-color: #776FC4;
    border-color: #776FC4;
}
.ant-btn-primary:hover > a:only-child,
.ant-btn-primary:focus > a:only-child {
    color: currentColor;
}
.ant-btn-primary:hover > a:only-child:after,
.ant-btn-primary:focus > a:only-child:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: transparent;
}
.ant-btn-primary:active,
.ant-btn-primary.active {
    color: #fff;
    background-color: #776FC4;
    border-color: #776FC4;
}
.ant-btn-primary:active > a:only-child,
.ant-btn-primary.active > a:only-child {
    color: currentColor;
}
.ant-btn-primary:active > a:only-child:after,
.ant-btn-primary.active > a:only-child:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: transparent;
}
.ant-btn-primary.disabled,
.ant-btn-primary[disabled],
.ant-btn-primary.disabled:hover,
.ant-btn-primary[disabled]:hover,
.ant-btn-primary.disabled:focus,
.ant-btn-primary[disabled]:focus,
.ant-btn-primary.disabled:active,
.ant-btn-primary[disabled]:active,
.ant-btn-primary.disabled.active,
.ant-btn-primary[disabled].active {
    color: rgba(0, 0, 0, 0.25);
    background-color: #f7f7f7;
    border-color: #d9d9d9;
}
.ant-btn-primary.disabled > a:only-child,
.ant-btn-primary[disabled] > a:only-child,
.ant-btn-primary.disabled:hover > a:only-child,
.ant-btn-primary[disabled]:hover > a:only-child,
.ant-btn-primary.disabled:focus > a:only-child,
.ant-btn-primary[disabled]:focus > a:only-child,
.ant-btn-primary.disabled:active > a:only-child,
.ant-btn-primary[disabled]:active > a:only-child,
.ant-btn-primary.disabled.active > a:only-child,
.ant-btn-primary[disabled].active > a:only-child {
    color: currentColor;
}
.ant-btn-primary.disabled > a:only-child:after,
.ant-btn-primary[disabled] > a:only-child:after,
.ant-btn-primary.disabled:hover > a:only-child:after,
.ant-btn-primary[disabled]:hover > a:only-child:after,
.ant-btn-primary.disabled:focus > a:only-child:after,
.ant-btn-primary[disabled]:focus > a:only-child:after,
.ant-btn-primary.disabled:active > a:only-child:after,
.ant-btn-primary[disabled]:active > a:only-child:after,
.ant-btn-primary.disabled.active > a:only-child:after,
.ant-btn-primary[disabled].active > a:only-child:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: transparent;
}
.ant-btn-group .ant-btn-primary:not(:first-child):not(:last-child) {
    border-right-color: #776FC4;
    border-left-color: #776FC4;
}
.ant-btn-group .ant-btn-primary:not(:first-child):not(:last-child):disabled {
    border-color: #d9d9d9;
}
.ant-btn-group .ant-btn-primary:first-child:not(:last-child) {
    border-right-color: #776FC4;
}
.ant-btn-group .ant-btn-primary:first-child:not(:last-child)[disabled] {
    border-right-color: #d9d9d9;
}
.ant-btn-group .ant-btn-primary:last-child:not(:first-child),
.ant-btn-group .ant-btn-primary + .ant-btn-primary {
    border-left-color: #776FC4;
}
.ant-btn-group .ant-btn-primary:last-child:not(:first-child)[disabled],
.ant-btn-group .ant-btn-primary + .ant-btn-primary[disabled] {
    border-left-color: #d9d9d9;
}

.ant-input,
.ant-btn{
    height: 44px;
    line-height: 40px;
    font-size: 14px;
}

.ant-input-group-addon{
    background-color: inherit;
    border-right: 0;
}
/*.ant-input-group-addon~.ant-input{
    border-left: 0;
}*/
.inline-block{
    display: inline-block;
    *display: block;
    *zoom: 1;
    vertical-align: middle;
}
.padding-15{
    padding: 15px;
}
.padding-20{
    padding: 20px;
}
.padding-25{
    padding: 20px;
}
.color-3{
    color: #333;
}
.color-6{
    color: #666;
}
.color-9{
    color: #999;
}
.color-warn{
    color: #FE6500;
}
.color-azure{
    color: #56509F;
}
.margin-top-5{
    margin-top: 5px;
}
.margin-right-5{
    margin-right: 5px;
}
.margin-bottom-5{
    margin-bottom: 5px;
}
.margin-left-5{
    margin-left: 5px;
}
.margin-top-10{
    margin-top: 10px;
}
.margin-right-10{
    margin-right: 10px;
}
.margin-bottom-10{
    margin-bottom: 10px;
}
.margin-left-10{
    margin-left: 10px;
}
.margin-top-15{
    margin-top: 15px;
}
.margin-right-15{
    margin-right: 15px;
}
.margin-bottom-15{
    margin-bottom: 15px;
}
.margin-left-15{
    margin-left: 15px;
}
.margin-top-20{
    margin-top: 20px;
}
.margin-right-20{
    margin-right: 20px;
}
.margin-bottom-20{
    margin-bottom: 20px;
}
.margin-left-20{
    margin-left: 20px;
}
.font-size-14{font-size: 14px;}
.font-size-16{font-size: 16px;}
.font-size-18{font-size: 18px;}
.font-size-20{font-size: 20px;}

/*布局*/
.logo{
    width: 153px;
    margin: 13px 100px 13px 0;
    float: left;
}
.logo img{
    width: 153px;
}
.header-login{
    margin-top: 7px;
    float: right;
}
.ant-layout {
    background: #fff;
}
.ant-layout-header{
    height: 80px;
    background: #56509F url('../images/top_bg.png') left top repeat-x;
}
.ant-menu-dark.ant-menu-horizontal{
    line-height: 75px;
    background: none;
    float: left;
    border-bottom: 0;
}
.ant-layout-content{
    background: #fff;
    padding: 24px;
    margin: 0;
    min-height: 800px;
}
.ant-menu-dark.ant-menu-horizontal > .ant-menu-item,
.ant-menu-dark.ant-menu-horizontal > .ant-menu-submenu{
    border-bottom: 5px solid #56509F !important;
}
.ant-menu-item{
    padding: 0 25px;
    font-size: 20px;
}
.ant-menu-dark .ant-menu-item a{
    color: #fff;
}
.ant-menu.ant-menu-dark .ant-menu-item-selected{
    background: none;
    color: #333;
}
.ant-menu.ant-menu-dark .ant-menu-item-selected > a{
    color: #333;
}
.ant-layout-sider{
    flex: 0 0 180px;
    width: 180px;
    background: #fff;
}
.ant-menu-inline .ant-menu-submenu-title{
    line-height: 44px;
    padding: 0 0;
    font-size: 14px;
}
.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected{
    background: #56509F;
}
.ant-menu-submenu-title > a{
    color: #333;
}
.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected .ant-menu-submenu-title > a{
    color: #fff;
}
.ant-menu-inline .ant-menu-item:after, .ant-menu-vertical .ant-menu-item:after{
    border-right: 10px solid #FE6500;
}
.ant-menu-inline, .ant-menu-vertical{
    border-right: none;
}
.ant-layout-chaozhi{
    padding: 24px;
}
.ant-confirm-body .ant-confirm-content{
    font-size: 14px;
}
.sub-menu-tip{
    position: absolute;
    top: 80px;
    left: 0;
    visibility: hidden;
    width: 165px;
    line-height: 30px;
    padding: 10px 0;
    border: 1px solid #ccc;
    border-radius: 6px;
    background: #fff;
    color: #333;
    font-size: 16px;

}
.ant-menu-dark .ant-menu-item .sub-menu-tip a{
    color: #333;
}
.sub-menu-tip li{
    margin: 5px 0;
    border-left: 4px solid #fff;
    padding: 0 10px;
}
.sub-menu-tip li:hover{
    margin-left: -1px;
    border-left-color: #56509F;
    background: #F3F3F3;
}
.sub-menu-tip .arrow{
    position: absolute;
    top: -11px;
    left: 65px;
}
.sub-menu-tip .arrow:before{
    width: 0;
    height: 0;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    border-width: 0 10px 10px;
    border-style: solid;
    border-color: transparent transparent #ccc;
}
.sub-menu-tip .arrow:after{
    position: absolute;
    top: 2px;
    left: 1px;
    width: 0;
    height: 0;
    content: "";
    border-width: 0 9px 9px;
    border-style: solid;
    border-color: transparent transparent #fff;
}
.hasSubmenu:hover .sub-menu-tip{
    visibility: visible;
    animation-duration: 0.2s;
    animation-name: antSlideUpIn;
}
.index-banner .swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction{
    bottom: 100px;
}
.index-banner .swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet{
    width: 50px;
    background: #D8D8D8;
    border-radius: 4px;
}
.index-banner .swiper-container-horizontal>.swiper-pagination-white .swiper-pagination-bullet-active{
    background: #B07AD0;
}
.index-banner-btn{
    display: inline-block;
    width: 200px;
    height: 50px;
    line-height: 50px;
    border-radius: 6px;
    text-align: center;
    background: #FFDE1A;
    font-size: 20px;
    color: #000;
    font-weight: bold;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}
.index-banner-btn:hover{
    background: #FF9D5C;
    color: #000;
}

.index-our-btn{
    display: inline-block;
    width: 200px;
    height: 40px;
    line-height: 40px;
    border-radius: 6px;
    text-align: center;
    background: #56509F ;
    font-size: 16px;
    color: #fff;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}
.index-our-btn:hover{
    background: #FF4000;
    color: #fff;
}

.index-gg-menu{
    margin-top: 75px;
}
.index-gg-menu li{
    display: inline-block;
    width: 140px;
    height: 40px;
    line-height: 40px;
    border-radius: 20px;
    font-size: 18px;
    color: #fff;
    cursor: pointer;
}
.index-gg-menu li.active{
    background: #FF4000;
}

.index-ctn-btn1{
    display: inline-block;
    width: 180px;
    height: 50px;
    line-height: 50px;
    border-radius: 6px;
    text-align: center;
    background: #56509F ;
    font-size: 16px;
    color: #fff;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}
.index-ctn-btn1:hover{
    background: #FF4000;
    color: #fff;
}
.index-ctn-btn2{
    display: inline-block;
    width: 180px;
    height: 50px;
    line-height: 50px;
    border-radius: 6px;
    text-align: center;
    background: #FF4000 ;
    font-size: 16px;
    color: #fff;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}
.index-ctn-btn2:hover{
    background: #56509F;
    color: #fff;
}

.index-kecheng-btn1{
    display: inline-block;
    width: 160px;
    height: 40px;
    line-height: 40px;
    border-radius: 20px;
    text-align: center;
    background: #56509F;
    font-size: 18px;
    color: #fff;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}
.index-kecheng-btn1:hover{
    color: #fff;
}
.index-kecheng-btn2{
    display: inline-block;
    width: 160px;
    height: 50px;
    line-height: 50px;
    border-radius: 25px;
    text-align: center;
    background: #fff;
    font-size: 24px;
    color: #FE741A;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}
.index-kecheng-btn2:hover{
    color: #FE741A;
}
.index-xiangqing-btn{
    display: inline-block;
    width: 160px;
    height: 50px;
    line-height: 50px;
    border-radius: 6px;
    text-align: center;
    background: #FF4000;
    font-size: 16px;
    color: #fff;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}
.index-xiangqing-btn:hover{
    background: #FF8100;
    color: #fff;
}

.index-our-items{

}