body,
label{
    font-size: 14px;
}
.ant-form-item-label,
.has-success.has-feedback:after,
.has-warning.has-feedback:after,
.has-error.has-feedback:after,
.is-validating.has-feedback:after{
    line-height: 44px;
}

.ant-form-item,
.ant-checkbox-wrapper,
.ant-input,
.ant-modal-body{
    font-size: 14px;
}

.ant-btn-primary {
    color: #fff;
    background-color: #56509F;
    border-color: #56509F;
}
.ant-btn-primary > a:only-child {
    color: currentColor;
}
.ant-btn-primary > a:only-child:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: transparent;
}
.ant-btn-primary:hover,
.ant-btn-primary:focus {
    color: #fff;
    background-color: #776FC4;
    border-color: #776FC4;
}
.ant-btn-primary:hover > a:only-child,
.ant-btn-primary:focus > a:only-child {
    color: currentColor;
}
.ant-btn-primary:hover > a:only-child:after,
.ant-btn-primary:focus > a:only-child:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: transparent;
}
.ant-btn-primary:active,
.ant-btn-primary.active {
    color: #fff;
    background-color: #776FC4;
    border-color: #776FC4;
}
.ant-btn-primary:active > a:only-child,
.ant-btn-primary.active > a:only-child {
    color: currentColor;
}
.ant-btn-primary:active > a:only-child:after,
.ant-btn-primary.active > a:only-child:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: transparent;
}
.ant-btn-primary.disabled,
.ant-btn-primary[disabled],
.ant-btn-primary.disabled:hover,
.ant-btn-primary[disabled]:hover,
.ant-btn-primary.disabled:focus,
.ant-btn-primary[disabled]:focus,
.ant-btn-primary.disabled:active,
.ant-btn-primary[disabled]:active,
.ant-btn-primary.disabled.active,
.ant-btn-primary[disabled].active {
    color: rgba(0, 0, 0, 0.25);
    background-color: #f7f7f7;
    border-color: #d9d9d9;
}
.ant-btn-primary.disabled > a:only-child,
.ant-btn-primary[disabled] > a:only-child,
.ant-btn-primary.disabled:hover > a:only-child,
.ant-btn-primary[disabled]:hover > a:only-child,
.ant-btn-primary.disabled:focus > a:only-child,
.ant-btn-primary[disabled]:focus > a:only-child,
.ant-btn-primary.disabled:active > a:only-child,
.ant-btn-primary[disabled]:active > a:only-child,
.ant-btn-primary.disabled.active > a:only-child,
.ant-btn-primary[disabled].active > a:only-child {
    color: currentColor;
}
.ant-btn-primary.disabled > a:only-child:after,
.ant-btn-primary[disabled] > a:only-child:after,
.ant-btn-primary.disabled:hover > a:only-child:after,
.ant-btn-primary[disabled]:hover > a:only-child:after,
.ant-btn-primary.disabled:focus > a:only-child:after,
.ant-btn-primary[disabled]:focus > a:only-child:after,
.ant-btn-primary.disabled:active > a:only-child:after,
.ant-btn-primary[disabled]:active > a:only-child:after,
.ant-btn-primary.disabled.active > a:only-child:after,
.ant-btn-primary[disabled].active > a:only-child:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: transparent;
}
.ant-btn-group .ant-btn-primary:not(:first-child):not(:last-child) {
    border-right-color: #776FC4;
    border-left-color: #776FC4;
}
.ant-btn-group .ant-btn-primary:not(:first-child):not(:last-child):disabled {
    border-color: #d9d9d9;
}
.ant-btn-group .ant-btn-primary:first-child:not(:last-child) {
    border-right-color: #776FC4;
}
.ant-btn-group .ant-btn-primary:first-child:not(:last-child)[disabled] {
    border-right-color: #d9d9d9;
}
.ant-btn-group .ant-btn-primary:last-child:not(:first-child),
.ant-btn-group .ant-btn-primary + .ant-btn-primary {
    border-left-color: #776FC4;
}
.ant-btn-group .ant-btn-primary:last-child:not(:first-child)[disabled],
.ant-btn-group .ant-btn-primary + .ant-btn-primary[disabled] {
    border-left-color: #d9d9d9;
}

.ant-input,
.ant-btn{
    height: 44px;
}

.ant-input-group-addon{
    background-color: inherit;
    border-right: 0;
}
/*.ant-input-group-addon~.ant-input{
    border-left: 0;
}*/
.inline-block{
    display: inline-block;
    *display: block;
    *zoom: 1;
    vertical-align: middle;
}